{% extends "djkorra/base.html" %}
<!doctype html>
<html lang='en'>
    {% block content_head %}
        <h1 id="page-title">Scholarship Form</h1>
    {% endblock %}
<head>
    <meta charset='utf-8' />
    <title></title>
    <link rel='stylesheet' type='text/css' href='{{static_url}}djbuis/css/base_css.css'/>
    <link href="//www.carthage.edu/themes/shared/css/icons.css" type="text/css" rel="stylesheet" />
    <link href="//www.carthage.edu/static/vendor/dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="//www.carthage.edu/themes/shared/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/themes/shared/css/tables.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript'>
    </script>
    {% block javascript %}
    <script type="text/javascript">
    $(document).ready(function () {
        // Code adapted from http://djangosnippets.org/snippets/1389/  
        function updateElementIndex(el, prefix, ndx) {
            var id_regex = new RegExp('(' + prefix + '-\\d+-)');
            var replacement = prefix + '-' + ndx + '-';
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
            replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }
    
        function deleteForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (formCount > 1) {
                // Delete the item/form
                $(btn).parents('.scholarship').remove();
                var forms = $('.scholarship'); // Get all the forms  
                // Update the total number of forms (1 less than before)
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).children().children().each(function () {
                        if ($(this).attr('type') == 'text') updateElementIndex(this, prefix, i);
                    });
                }
            } // End if
            else{
                alert("This field cannot be deleted. If you don't have any other aid to decline, simply leave it blank.")
            }
            return false;
        }
    
        function addForm(btn, prefix) {
            var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            //THE LINE BELOW CONTROLS THE MAXIMUM NUMBER OF ADDITIONAL FIELDS
            if (formCount < 10) {
                // Clone a form (without event handlers) from the first form
                var row = $(".scholarship:first").clone(false).get(0);
                // Insert it after the last form
                $(row).removeAttr('id').hide().insertAfter(".scholarship:last").slideDown(300);
    
                // Remove the bits we don't want in the new row/form
                // e.g. error messages
                $(".errorlist", row).remove();
                $(row).children().removeClass("error");
    
                // Relabel or rename all the relevant bits
                $(row).children().children().each(function () {
                    updateElementIndex(this, prefix, formCount);
                    $(this).val("");
                });
    
                // Add an event handler for the delete item/form link 
                $(row).find(".delete").click(function () {
                    return deleteForm(this, prefix);
                });
                // Update the total form count
                $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
            } // End if
            else {
                alert("Sorry, you can only add a maximum of 10 other forms of aid.");
            }
            return false;
        }
        // Register the click event handlers
        $("#add").click(function () {
            return addForm(this, "Sc");
        });
    
        $(".delete").click(function () {
            return deleteForm(this, "Sc")
        });
    });
    </script>
    {% endblock %}
</head>
{% block content %}
<body>
    <form action='' method='post' class = "form" enctype="multipart/form-data">{% csrf_token %}
        <fieldset class="blockLabels">
            <legend>General Information</legend>
            <ol>
                {{ formset.management_form }}
                <li>
                    <b>{{ year }}-{{ year2 }} Private Scholarship Notification</b>
                </li>
                <li>We encourage students to apply for as many private scholarships as possible. Whenever the Office
                    of Student Financial Planning (OSFP) is informed of a scholarship, we send information about that 
                    scholarship out to the students through the Carthage email. In addition, we keep a scholarship book at the 
                    front desk in our office that can be reviewed at any time. Lists of private scholarship websites 
                    are available on the Financial Aid web site as well as at our front desk. We encourage students also 
                    to investigate the scholarships available through the different departments or courses offered at 
                    Carthage.<br><br>
                </li>
                <li>Should the student be awarded a private scholarship, Carthage requires the student to provide a copy 
                    of the private scholarship documentation to the Office of Student Financial Planning annually. Once 
                    we have received the Private Scholarship Notification Form and a copy of the scholarship notification 
                    letter, we will add the scholarship amount to the student's financial aid award. The student is 
                    responsible for making sure any and all requirements of the scholarship donor are met and that these 
                    funds are disbursed to Carthage College.<br><br>
                </li>
                <li>If you have received notification that you will be receiving a Private Scholarship, please complete the 
                    below information and return to the above address. <b>YOU MUST ATTACH</b> a copy of the 
                    documentation received from the donor for each of the scholarships awarded. <b>Without this 
                    documentation, we cannot add this scholarship to your financial aid award.</b> If you have any 
                    questions, don't hesitate to contact the OSFP at 262-551-6001.
                </li><br>
            </ol>
        </fieldset>
        <fieldset class="blockLabels">
                <legend>Scholarships</legend>
                <ol>
                {{ formset.management_form }}
                {% for form in formset.forms %}
                    <div class = scholarship>
                        <li class="ctrlHolder"><h3>{{form}}</h3></li>
                        <li style=""><a class="delete" href="#">Delete</a></li>
                    </div>
                <li><br><a id="add" href="#">Add another Scholarship</a></li>
                {% endfor %}
                <li class="btnHolder">
                    <label for="submit">&nbsp;&nbsp;</label>
                    <input type="Submit" name="submit" value="Submit" class="button"/>
                </li>
            </ol>
        </fieldset>
    </form>
</body>
    <script type='text/javascript'>
    
    </script>
    {% endblock %}
</html>
