{% extends "djkorra/base.html" %}
{% block title %}
    TEACH Grant
{% endblock %}
{% block content_head %}
    <h1 id="page-title">TEACH Grant Form</h1>
{% endblock %}
{% block extra_style %}
<style>
    input[type=checkbox]
    {
      -webkit-appearance:checkbox;
    }
    input[type=radio]
    {
      -webkit-appearance:radio;
    }
</style>
{% endblock %}
{% block javascript %}
<script type='text/javascript'>
    $("img.hidden").css("display", "none");
    $(document).ready(function () {
        if( $('[name="gpa"]').val() == 'CONT' ){
            $('#hidden-undergrad').css("display", 'list-item');
            $('#hidden-grad').css("display", 'none'); //Hide this
            //If the top select option is selected, the only checkbox that will pop up is the undergrad box
        }
        else if($('[name="gpa"]').val() == 'NEWF' ||
                $('[name="gpa"]').val() == 'NEWU' ){   
            $('#hidden-undergrad').css("display", 'list-item');
            $('#hidden-grad').css("display", 'none');
        }
        else if($('[name="gpa"]').val() == 'NEWG' ){
            $('#hidden-undergrad').css("display", 'none');
            $('#hidden-grad').css("display", 'list-item');
        }
        
        $("[name='gpa']").click(function() {
            if (this.value == "CONT"){
                $('#hidden-undergrad').css("display", 'list-item');
                $('#hidden-grad').css("display", 'none'); //Hide this
                
                $("#hidden-gpa").html(' I certify that I have established a 3.25 overall GPA or higher at Carthage ');
            }
            else if (this.value == 'NEWF' ||
                     this.value == 'NEWU' ){
                $('#hidden-undergrad').css("display", 'list-item');
                $('#hidden-grad').css("display", 'none');
                
                if (this.value == 'NEWF' ){
                    $("#hidden-gpa").html(' I certify that I have scored above the 75th percentile on a college admissions test or maintained a FINAL cumulative high school GPA of at least 3.25 ')
                }
                else{
                    $("#hidden-gpa").html(' I certify that I have established a 3.25 overall GPA in my previous undergraduate coursework ');
                }
            }
            else if (this.value == 'NEWG' ){
                $('#hidden-undergrad').css("display", 'none');
                $('#hidden-grad').css("display", 'list-item');
                
                $("#hidden-gpa").html(' I certify that I have established a 3.25 overall GPA in my previous undergraduate coursework ');
            }
        });
    });
    //set all checks and x's to be invisible till user types something into field
    //functions that validate fields and show images for ok or bad data
    $('#id_program').change(function() {
        if(!validate_program()){ 
            $('#program_no').css("display", "inline");
            $('#program_yes').css("display", "none");
        }
        else {
            $('#program_no').css("display", "none");
            $('#program_yes').css("display", "inline");
        }
    });
    function validate_carthage_id(){
        var patt = new RegExp('^(\\d{5,7})$');
        return patt.test($("#id_carthage_id").val());
    }
    function validate_student_name(){
        var patt = new RegExp('^((?:[a-zA-Z]+\\s?){1,2}[a-zA-Z]+)$');
        return patt.test($("#id_student_name").val());
    }
    function validate_program(){
        var patt = new RegExp('^((?:[a-zA-Z\\s?\\.?]+)[a-zA-Z]+)$');
        return patt.test($("#id_program").val());
    }
</script>
{% endblock %}
{% block content %}
<form action='' method='post' class = "form">{% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
   <fieldset class="blockLabels">
        <legend>TEACH Info</legend>
        <ol>
            <li>The Federal TEACH Grant has specific eligibility and service requirements.
                Before completing the TEACH Grant Consideration form, you should visit the
                <a href='http://studentaid.ed.gov/PORTALSWebApp/students/english/teach.jsp'>Federal TEACH Grant web site.</a>
                If you wish to apply for consideration for this grant, you will need to:
                <ul class="bullets">
                    <li>Complete a {{ year }}-{{ year2 }} Free Application for Federal Student Aid (FAFSA) at <a href='http://fafsa.ed.gov'>http://fafsa.ed.gov</a> and provide all supporting application materials that may be required while reviewing your FAFSA.</li>
                    <li>Sign the online Agreement to Serve (ATS) and complete the Federal TEACH Grant Entrance Counseling requirement at <a href='https://teach-ats.ed.gov/ats/index.action'>https://teach-ats.ed.gov/ats/index.action</a></li>
                </ul>
            </li>
        </ol>
    </fieldset>
   <fieldset class="blockLabels">
        <legend>Area of Study</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_program">Indicate your TEACH grant eligible program of study</label></h3>
                <div class="required">
                    {{form.program}}
                    {{form.program.errors}}
                    <img style='display:none;' id='program_yes' src='http://imageshack.us/a/img716/1391/htj.png'></img>
                    <img style='display:none;' id='program_no' src='http://imageshack.us/a/img855/1123/ytjo.png'></img>
                </div>
            </li>
        </ol>
    </fieldset>
   <fieldset class="blockLabels">
        <legend>Section 1: GPA Requirement Certification</legend>
        <ol>
            <li class="ctrlHolder"><h3><label for="id_gpa_requirements_0">Current Status</label></h3>
                <ul>
                    <li><label for="id_gpa_requirements_0"><input id="id_gpa_requirements_0" name="gpa" type="radio" value="CONT" />Continuing Undergrad And Graduate Students</label></li>
                    <li><label for="id_gpa_requirements_1"><input id="id_gpa_requirements_1" name="gpa" type="radio" value="NEWF" />New Freshmen Students</label></li>
                    <li><label for="id_gpa_requirements_2"><input id="id_gpa_requirements_2" name="gpa" type="radio" value="NEWU" />New Undergrad Transfer Students</label></li>
                    <li><label for="id_gpa_requirements_3"><input id="id_gpa_requirements_3" name="gpa" type="radio" value="NEWG" />New Graduate Students</label></li>
                </ul>
                {{form.gpa_requirements.errors}}
                <li id='hidden-gpa'>
                    I certify that I have established a 3.25 overall GPA or higher at Carthage
                </li>
            </li>
        </ol>
    </fieldset>
   <fieldset class="blockLabels">
        <legend>Section 2: Program Certification</legend>
        <ol>
            <!-- The next <li> needs to be hidden right off the get go -->
            <li id='hidden-undergrad' style='display:none;' class='ctrlHolder'><h3>
                <label for="id_undergrad_eligible">
                    {{form.undergrad_eligible}}
                    {{form.undergrad_elligible.errors}}
                    I certify that I am enrolled or accepted for enrollment as a degree-seeking student
                    in a TEACH Grant-eligible program</label></h3>                        
            </li>
            <li id='hidden-grad' class='ctrlHolder'><h3>
                <label for="id_grad_eligible">
                    {{form.grad_eligible}}
                    {{form.grad_eligible.errors}}
                    I certify that I am enrolled or accepted for enrollment as a degree-seeking student
                    in a TEACH Grant-eligible program</label></h3>                        
            </li>
            <li class="ctrlHolder"><h3><label for="id_filed_fafsa">{{form.filled_fafsa}}{{form.filled_fafsa.errors}}
                I filed or will file a Free Application for Federal Student Aid (FAFSA) for the {{ year }}-{{ year2 }}
                academic year</label></h3>
            <li>
            <li class="ctrlHolder"><h3><label for="id_understand_conditions">{{form.understand_conditions}}{{form.understand_conditions.errors}}
                I understand that if I am awarded a Federal TEACH Grant, I must do the following
                <li><ul class="bullets">
                        <li>Sign the online Agreement to Serve (ATS) and complete the Federal TEACH Grant Entrance Counseling requirement at <a href='https://teach-ats.ed.gov/ats/index.action'>https://teach-ats.ed.gov/ats/index.action</a></li>
                        <li>Continue participation as a degree-seeking student in a TEACH Grant-eligible program at Carthage</li>
                        <li>Maintain a 3.25 cumulative GPA each semester of my enrollment in my TEACH Grant-eligible program</li>
                    </ul></li>                        
                </label></h3>
            <li class="btnHolder">
                <label for="submit">&nbsp;&nbsp;</label>
                <input type="Submit" name="submit" value="Submit" class="button"/>
            </li>
        </ol>
    </fieldset>
</form>
{% endblock %}